body{

background:#050505;
color:white;
font-family:Arial;
margin:0;

}

header{

display:flex;
justify-content:space-between;
padding:20px;
background:black;

}

.logo{

color:#00ffff;
text-shadow:0 0 15px cyan;

}

nav a{

margin:15px;
color:white;
text-decoration:none;

}

.hero{

text-align:center;
padding:140px;

}

.btn{

background:#00ffff;
padding:12px 25px;
border-radius:10px;
color:black;
text-decoration:none;

}

.products{

display:flex;
justify-content:center;
gap:40px;
padding:50px;

}

.card{

background:#111;
padding:30px;
border-radius:10px;
box-shadow:0 0 20px cyan;
text-align:center;

}

button{

background:cyan;
border:none;
padding:10px 20px;
cursor:pointer;

}

.login{

width:300px;
margin:150px auto;
display:flex;
flex-direction:column;
gap:10px;

}

.qr{

width:250px;

}